{% load static %}
<div class="footer-top-area">
    <div class="row">
        <div class="container">
        <div class="row">
                <div class="footer-about-us">
                    <h2>Internet <span>Shop</span></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit maxime dolorem facere consequuntur
                        aliquid animi odit reprehenderit, praesentium ratione illum eius quo a laborum, magni provident
                        porro rerum, adipisci mollitia!</p>
                    <div class="footer-social">
                        <a href="https://github.com/Murl1k" target="_blank">Github <i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

