{% load static %}
<div class="footer-top-area">
    <div class="row">
        <div class="container">
        <div class="row">
                <div class="footer-about-us">
                    <h2>Internet <span>Shop</span></h2>
                    <p>Made by Dmitry Strelchenko</p>
                     <p>If you have any questions, you can call this number (+380) 992-14-55</p>
                    <div class="footer-social">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

