<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'webshop/css/home.css' %}">
    <meta charset="UTF-8">
    <title>Internet Shop</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
      <div class="brand-box">
        <a href="{% url 'webshop:home' %}"  class="brand">Internet Shop</a>
      </div>
      <div class="text-box">
        <h1 class="heading-primary">
          <span class="heading-primary-main">Hi! Welcome to my shop.</span>
          <span class="heading-primary-sub">This is only my project, nothing else</span>
        </h1>
        <a href="{% url 'webshop:main_page' %}" class="btn btn-white btn-animated">Let's try</a>
      </div>
      <a class="github-button" href="https://github.com/Murl1k">GITHUB</a>
    </header>
</div>
</body>
</html>
